@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
  font-family: 'Nunito', sans-serif;;
}

.bg-oreng {
    background-color: #FF3838;
}

.bg-light-sky {
    background-color: #F3F4FF;
}

.bg-light-cream {
    background-color: #FFEEEE;
}

.text-oreng {
    color: #FF3838;
}

.border-oreng {
     border: 1px solid #FF3838 !important;
}
.border-white {
     border: 1px solid #fff !important;
}

/* HERO SECTION START HERE  */
    .slider_bar {
        position: relative;
        background-image: url('../img/Group_2203.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        padding: 7rem 0;
    }
    .jaya_img img {
        width: 350px !important;
        height: 350px !important;
        object-fit: cover;
    }
    .btn {
        background-image: url('../img/Button_Wave_bg_img.svg');
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat; 
    }
/* HERO SECTION END HERE  */

/* about section start here */
.about_page {
    position: relative;
    background-image: url('../img/Purple_Background_Decoration_Transparent_PNG_Clip_Art_Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 5rem 0; 
}

.about_a h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* top: 0; */
    width: 90px;
    height: 3px;
    background-color: #FF3838;
    border-radius: 50px;

}
.about_bg_s {
    position: relative;
    background-image: url('../img/Group_2203.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 5rem 0; 
}
.shrimad_bhagwat {
    border-radius: 15px;
    width: 270px;
    height: 250px;
    display: grid;
    transition: 0.5s;
    backdrop-filter: blur(12px);
    background: #f7f2fa;
    margin-top: 0;
    cursor: pointer;
    padding: 10px;
}
.bhagwat_img {
    transition: 0.5s; 
    margin-top: 0;
}
.shrimad_bhagwat:hover .bhagwat_img {
    margin-top: -15px;
    color: #FF3838;
}
.bhagwat_img img {
    width: 100px;
    height: 100px;
}
/* about section end here */

/* upcoming events section start here */
.upcoming_events {
    padding: 4rem 0;
}
.main_box_upcoming {
    border-radius: 12px;
    position: relative;
}
.upcomings_img_box img {
    object-fit: cover;
    height: 150px;
}
.upcomings_img_box .dates__1 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #FF3838;
    border-radius: 5px;
}
/* upcoming events section end here */

/* our gallery section start here */
.gallery_img_box img {
    object-fit: cover;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    transition: .5s;
}
.gallery_img_box:hover img {
    margin-top: -15px;
}
/* our gallery section end here */

/* subscribe section start here */
.subscribes{
    padding: 4rem 0;
}
.subscribes_bgs {
    position: relative;
    background-image: url('../img/Group_2219.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 4rem 0; 
    border-radius: 12px;
}
/* subscribe section end here */

/* footer section start here */
.bottom_footers {
    background-color: #041721;
    padding: 3rem 0;
}
/* footer section end here */

/* gallery css */
.m-p-g {
    max-width: 100%;
    margin: 0 auto;
  }
  .m-p-g__thumbs-img {
    margin: 0;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
    filter: brightness(100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: opacity, transform;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__thumbs-img.active {
    z-index: 50;
  }
  .m-p-g__thumbs-img.layout-completed {
    opacity: 1;
  }
  .m-p-g__thumbs-img.hide {
    opacity: 0;
  }
  .m-p-g__thumbs-img:hover {
    filter: brightness(110%);
  }
  .m-p-g__fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
    will-change: background, visibility;
    backface-visibility: hidden;
  }
  .m-p-g__fullscreen.active {
    transition: background 0.25s ease-out, visibility 0.01s 0s linear;
    visibility: visible;
    background: rgba(0, 0, 0, 0.95);
  }
  .m-p-g__fullscreen-img {
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    visibility: hidden;
    will-change: visibility;
    transition: opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.active {
    visibility: visible;
    opacity: 1 !important;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.almost-active {
    opacity: 0;
    transform: translate3d(0, 0, 0) !important;
  }
  .m-p-g__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 20vh;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__controls.active {
    opacity: 1;
    visibility: visible;
  }
  .m-p-g__controls-close, .m-p-g__controls-arrow {
    appearance: none;
    border: none;
    background: none;
  }
  .m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
    outline: none;
  }
  .m-p-g__controls-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  .m-p-g__controls-arrow:hover {
    opacity: 1;
  }
  .m-p-g__controls-arrow--prev {
    left: 0;
    padding-left: 3vw;
    justify-content: flex-start;
  }
  .m-p-g__controls-arrow--next {
    right: 0;
    padding-right: 3vw;
    justify-content: flex-end;
  }
  .m-p-g__controls-close {
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 5;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .m-p-g__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    transition: all 0.25s ease-out;
  }
  .m-p-g__btn:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .m-p-g__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
     
  }
  .m-p-g__alertBox h2 {
    color: red;
  }
  /* DEMO */
 
  .demo-btn {
    display: inline-block;
    margin: 0 2.5px 4vh 2.5px;
    text-decoration: none; 
    padding: 15px;
    line-height: 1;
    min-width: 140px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }
  .demo-btn:hover {
    background: rgba(0, 0, 0, 0.12);
  }
  @media (max-width: 640px) {
    .demo-btn {
      min-width: 0;
      font-size: 14px;
    }
  }
  
/* gallery css end */
